* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.color-white {
  color: #fff;
}

.setLink-width {
  display: block;
  width: 70px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: #a5a8b5;
}

.app {
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2a40), to(#26354a));
  background: linear-gradient(#2c2a40, #26354a);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #a5a8b5;
}

.category {
  height: 100%;
  width: 15%;
  background: #22293c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
}

.category a {
  display: block;
  font-size: 1.2rem;
  padding: 1rem;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.category a:hover {
  color: #06dfdb;
}

.category a.active {
  color: #06dfdb;
  position: relative;
}

.category a.active::after {
  content: "";
  position: absolute;
  border-right: 2px solid #06dfdb;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 60%;
}

.category a.active.no-active {
  color: #a5a8b5;
}

.category a.active.no-active::after {
  height: 0;
}

.category a i {
  margin-right: 16px;
}

.category .link {
  padding: 0;
  display: block;
}

.category .box {
  border-bottom: 1px solid #3d3b57;
  padding-left: 18px;
}

.category .box:first-child {
  padding-left: 0;
}

.category .box:last-child {
  border-bottom: none;
}

.category .logo {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.category .logo__icon {
  font-size: 3.6rem;
  margin: 0;
}

.category .logo__text {
  margin: 0;
}

.content {
  height: 100%;
  width: 85%;
  padding: 0 24px;
  margin-left: 15%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.search {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  font-size: 1.6rem;
  color: #a5a8b5;
}

.search__input {
  width: 90%;
  border-radius: 4px;
  border: none;
  padding: 8px;
  background: transparent;
  outline: none;
  color: #a5a8b5;
}

.search__input::-webkit-input-placeholder {
  color: #a5a8b5;
}

.search__input:-ms-input-placeholder {
  color: #a5a8b5;
}

.search__input::-ms-input-placeholder {
  color: #a5a8b5;
}

.search__input::placeholder {
  color: #a5a8b5;
}

.search__label {
  margin-right: 0px;
  cursor: pointer;
}

.account {
  font-size: 1.6rem;
  width: 36px;
  height: 36px;
  text-align: center;
  border: 1px solid #a5a8b5;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.account::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  top: 100%;
  right: 0;
  background-color: transparent;
}

.account:hover .account__option {
  display: block;
}

.account__option {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: #22293c;
  -webkit-box-shadow: 0px 6px 10px #000;
          box-shadow: 0px 6px 10px #000;
  z-index: 9;
  display: none;
}

.account__option-list {
  margin: 0;
  padding: 12px 24px;
}

.account__option-link {
  display: block;
  padding: 6px;
}

.account__option-link:hover {
  color: #06dfdb;
}

.product {
  height: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product:hover .product__title {
  color: #06dfdb;
}

.product:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.product__head {
  height: 300px;
  background-color: #232a35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  cursor: pointer;
  position: relative;
}

.product__head .product__img {
  width: 90%;
  height: 90%;
  background-size: contain;
  border-radius: 4px;
}

.product__head .CircularProgressbar {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 85%;
  left: 36%;
}

.product__head .CircularProgressbar svg {
  width: 100%;
  height: 100%;
  position: unset;
}

.product__title {
  cursor: pointer;
  height: 36px;
}

.product__title-name {
  margin: 0;
  font-size: 1.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.product__title-year {
  margin: 4px 0 0;
  font-size: 1.2rem;
}

.list {
  margin-top: 26px;
}

.pagination {
  font-size: 1.8rem;
  margin-top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page {
  border-radius: 4px;
  padding: 12px;
  color: #a5a8b5;
  cursor: pointer;
  margin-right: 4px;
}

.pagination .page:hover {
  color: #06dfdb;
}

.pagination .page.active-page {
  background-color: #22293c;
}

.pagination .page.disabled {
  color: #222;
}

.pagination button {
  background: none;
  border: none;
}

.footer {
  margin-top: 120px;
  background-color: #22293c;
  padding: 0 24px 32px;
  font-size: 1.6rem;
  border-radius: 4px;
  color: #a5a8b5;
}

.footer .contact {
  margin-top: 24px;
  margin-left: 20px;
}

.footer .contact .sub-contact {
  padding: 8px;
  margin-bottom: 6px;
}

.footer .contact .sub-contact i {
  margin-right: 8px;
  font-size: 2rem;
  padding: 10px 6px;
  display: inline-block;
  background-color: #273348;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #22293c;
  border-radius: 50%;
}

.footer .about-me {
  margin-top: 24px;
  margin-right: 20px;
}

.footer .about-me h3 {
  padding-top: 8px;
}

.footer .about-me p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.footer .about-me .social i {
  font-size: 4rem;
  margin-right: 12px;
  cursor: pointer;
}

.footer .about-me .social i:hover {
  color: #06dfdb;
}

.backBtn {
  font-size: 3.4rem;
  margin-top: 32px;
  margin-left: 20px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.backBtn:hover {
  color: #06dfdb;
}

.recommend-container {
  width: 100%;
}

.detail-before {
  width: 96%;
  height: 500px;
  position: relative;
  z-index: 1;
  margin: 42px 20px 0;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
}

.detail-container {
  width: 100%;
  height: 100%;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(13, 16, 24, 0.92);
  border-radius: 4px;
}

.detail__img {
  height: 450px;
  width: 300px;
  border-radius: 4px;
}

.detail__img img {
  width: 300px;
  height: 450px;
  background-size: contain;
  border-radius: 4px;
  margin: 24px 0 0 16px;
}

.detail__content {
  padding: 10px 16px;
  border-radius: 4px;
  min-height: 500px;
  margin-left: 24px;
}

.detail__content-name {
  font-size: 2.4rem;
  margin-bottom: 18px;
}

.detail__content-name h3 {
  margin: 12px 0;
  line-height: 1.17em;
}

.detail__content-name p {
  font-size: 1.6rem;
  margin: 0;
}

.detail__content-summary {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail__content-summary-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 0;
}

.detail__content-summary-top-left {
  width: 60px;
  height: 60px;
  -webkit-transition: all 0.2s ease-in 0s;
  transition: all 0.2s ease-in 0s;
}

.detail__content-summary-top-left:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.detail__content-summary-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 24px;
}

.detail__content-summary-top-right .like-movie {
  margin-right: 12px;
  position: relative;
}

.detail__content-summary-top-right .like-movie:hover .detail__content-summary-top-right-icon {
  display: block;
}

.detail__content-summary-top-right i.icon {
  border: 1px solid #22293c;
  border-radius: 50%;
  color: #fff;
  background-color: #22293c;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.detail__content-summary-top-right i.no-bg {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
}

.detail__content-summary-top-right .wrap-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  color: #fff;
}

.detail__content-summary-top-right .wrap-icon:hover i,
.detail__content-summary-top-right .wrap-icon:hover {
  color: #cec7c7;
}

.detail__content-summary-top-right-icon {
  background-color: #22293c;
  padding: 4px 8px;
  font-size: 1.5rem;
  border-radius: 4px;
  color: #fff;
  width: 244px;
  margin: 0 auto;
  position: absolute;
  top: 48px;
  left: -101px;
  display: none;
}

.detail__content-summary-top-right-icon::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 6px solid;
  border-color: transparent transparent #22293c transparent;
}

.detail__content-overview {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.detail__content-overview h3 {
  margin: 12px 0 12px;
}

.detail__content-overview p {
  margin: 0;
}

.recommend__title {
  margin-top: 124px;
  font-size: 2.4rem;
}

.scroll {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.scroll::-webkit-scrollbar {
  height: 8px;
  width: 2px;
}

.scroll::-webkit-scrollbar-track {
  background: #22293c;
}

.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}

.ltr {
  direction: ltr;
}

.recommend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  width: 100%;
  height: 190px;
}

.recommend__movie {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  height: 141px;
  width: 250px;
  margin-right: 16px;
  scroll-snap-align: center;
}

.recommend__movie-banner {
  width: 250px;
  border-radius: 8px;
  height: 141px;
}

.recommend__movie-banner img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-size: cover;
}

.recommend__movie-title {
  font-size: 1.4rem;
  color: #a5a8b5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 8px;
}

i.icon.liked {
  background-color: #e05d5d;
}

.dropdown {
  font-size: 1.4rem;
  margin: 16px 0 0 10px;
  cursor: pointer;
}

.dropdown:hover {
  color: #06dfdb;
}

.dropdown-para {
  max-width: 60px;
  margin: 0;
}

.setting__list {
  display: none;
  -webkit-animation: fade_in_show 0.5s;
          animation: fade_in_show 0.5s;
}

.activeGenres {
  display: block;
}

@-webkit-keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}

.modal .modal_content {
  padding: 2rem;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
  position: relative;
  left: 11%;
  top: 5%;
}

.modal .modal_content.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.favorite-title {
  padding-top: 20px;
  font-size: 3rem;
  color: #c8c8c8;
}

.favorite-title.no {
  height: 400px;
}
/*# sourceMappingURL=style.css.map */